<div class="incident span12 row">
  <div class="span8 pull-left row-fluid no-left">
    <div class="span12">
      <label class="no-left">
        Incident #:
        <span class="inc"></span>
      </label>
      <label class="pull-right">
        STATUS:
        <input class="status">
      </label>
      <div class="pull-left span8 no-left">
        <label class="span3 no-left">
          Code:
          <input class="code">
        </label>
        <label>
          Location:
          <input class="loc">
        </label>
        <span class="span12 no-left">Description:</span>
        <textarea class="description span12 no-left"></textarea>
        <div class="span12 no-left row">
          <div class="span4 no-left">
            <p>Responder</p>
            <select class="responder"></select>
          </div>
          <div class="span4">
            <p>Dispatcher</p>
            <select class="dispatcher"></select>
          </div>
          <div class="span4">
            <p>Reporter</p>
            <input class="reporter">
          </div>
        </div>
      </div>
      <div class="pull-right span4">
        <span class="date"></span>
        <div class="map"></div>
      </div>
    </div>
  </div>
  <div class="span12 row no-left">
    <div class="comment span4"></div>
    <div class="other span8"></div>
  </div>
</div>