<div class="incidents">
  <div class="nav-menu pull-right">
    <button class="create">Incident</button>
  </div>
  <div class="incloc"></div>
  <table border="1" class="span12">
    <thead>
      <tr class="incident_head">
        <th>Date:Time</th>
        <th>Inc #</th>
        <th>Code</th>
        <th>Location</th>
        <th>Status</th>
        <th>Responder</th>
        <th>Reporter</th>
        <th>Dispatcher</th>
      </tr>
    </thead>
    <tbody class="incident_body"></tbody>
  </table>
</div>