.btn-toolbar
  .btn-group.pull-left
    %button.btn.add-log Add Log
  .btn-group.pull-right.filter
    %button.btn.active Opened 
    %button.btn Closed 
    %button.btn Last Updated
    %button.btn Log
%br
%br
