.incidents
  .nav-menu.pull-right
    %button.create Incident
  .incloc
  %table.span12(border=1)
    %thead
      %tr.incident_head
        %th Date:Time
        %th Inc #
        %th Code
        %th Location
        %th Status
        %th Responder
        %th Reporter
        %th Dispatcher
    %tbody.incident_body

